server:
  port: 8088

spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  datasource:
    url: jdbc:mysql://localhost:3306/shopapp?useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  security:
    user:
      username: user
      password: password

  web:
    resources:
      static-locations:
        - classpath:/static/
        - file:./uploads/

api:
  prefix: /api/v1

jwt:
  expiration: 259200
  secretKey: VGhpcyBpcyBhIHNlY3VyZSBzZWNyZXQga2V5IHRoYXQgaXMgbG9uZyBlbm91Z2ghIQ==